certifi==2026.6.17
charset-normalizer==3.4.7
dependency-injector==4.49.1
idna==3.18
numpy==2.5.0
pandas==3.0.3
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
typing_extensions==4.15.0
urllib3==2.7.0
vaderSentiment==3.3.2
